.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 300px;
	padding-bottom: 100px;

	color: var(--colors-text);

	.links {
		margin-left: 50px;
		margin-right: 50px;
		display: flex;
		justify-content: center;
		border-bottom: 1px solid;
		animation-name: appear;
		animation-duration: 0.5s;
		transition: all 1s ease-in-out;
		border-radius: 1000px 1000px 0px 0px;

		border-color: var(--colors-line);

		.link {
			all: unset;
			padding: 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			cursor: pointer;

			img {
				max-width: 40px;
				max-height: 40px;
				height: 100%;
				margin-bottom: 10px;
				transition: transform 0.2s ease-in-out;
			}
			span {
				white-space: nowrap;
			}

			&:hover {
				img {
					transform: translateY(-20px) scale(1.2);
				}
				background: var(--colors-bg);
			}
		}

		@media (max-width: 767px) {
			margin: 0 20px;
		}
	}

	@media (max-width: 1024px) {
		padding-top: 30vh;
	}
}

.backgroundText {
	margin-top: 50px;
	font-size: 200px;
	text-align: center;
	text-transform: uppercase;
	color: var(--colors-bg-text);
}

@media (max-width: 900px) {
	.backgroundText {
		font-size: 100px;
	}
}

@media (max-width: 767px) {
	.backgroundText {
		font-size: 60px;
		margin-top: 30px;
	}
}

@keyframes appear {
	from {
		transform: translate(0px, 400px) scale(0.5);
	}
	to {
		transform: translate(0px, 0px) scale(1);
	}
}
