.button {
	font-weight: 500;
	height: 50px;
	transition: all 0.05s ease-out;

	border-color: var(--colors-line);

	svg {
		height: 18px;
		fill: var(--colors-text);
	}

	&:active {
		filter: saturate(200%);
		box-shadow: 0px 5px 10px #00000021;
	}
}
