.stack-page {
	padding-top: 300px;
	padding-bottom: 100px;

	color: var(--colors-text);

	.stack {
		display: flex;
		justify-content: center;
		border-bottom: 1px solid;
		animation-name: appear;
		animation-duration: 0.5s;
		transition: all 1s ease-in-out;
		border-radius: 1000px 1000px 0px 0px;

		border-color: var(--colors-line);

		.tool {
			padding: 20px;
			display: flex;
			flex-direction: column;
			align-items: center;

			img {
				max-width: 40px;
				max-height: 40px;
				height: 100%;
				margin-bottom: 10px;
				transition: transform 0.2s ease-in-out;
			}
			span {
				white-space: nowrap;
			}

			&:hover {
				img {
					transform: translateY(-20px) scale(1.2);
				}
				background: var(--colors-bg);
			}
		}
	}
}

@media (max-width: 1400px) {
	.stack-page {
		padding-top: 100px;
		.stack {
			flex-direction: column;
			border-bottom: none;

			.tool {
				padding: 50px;

				img {
					max-width: 100px;
					max-height: 100px;
					margin-bottom: 20px;
				}
				span {
					font-size: 24px;
				}

				&:hover {
					transform: translateY(-20px) scale(1.2);
				}
			}
		}
	}
}

.background-text {
	margin: 0px;
	font-size: 200px;
	text-align: center;
	text-transform: uppercase;
	color: var(--colors-bg-text);
}

@media (max-width: 720px) {
	.background-text {
		font-size: 100px;
	}
}
