@import "../../styles/themes";

.stack-page {
	padding-top: 300px;
	padding-bottom: 100px;

	@include themify($themes) {
		color: themed("textColor");
	}

	.stack {
		margin-left: 50px;
		margin-right: 50px;
		padding: 5px;
		display: flex;
		justify-content: center;
		border-bottom: 1px solid;
		animation-name: appear;
		animation-duration: 0.5s;

		@include themify($themes) {
			border-color: themed("lineColor");
		}

		.tool {
			padding: 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			transition: transform 0.2s ease-in-out;

			img {
				width: 40px;
				height: 40px;
				margin-bottom: 10px;
			}
			span {
				white-space: nowrap;
			}

			&:hover {
				transform: translateY(-20px) scale(1.2);
			}
		}
	}
}

@media (max-width: 720px) {
	.stack-page {
		padding-top: 100px;
		.stack {
			flex-direction: column;
			border-bottom: none;

			.tool {
				padding: 50px;

				img {
					width: 100px;
					height: 100px;
					margin-bottom: 20px;
				}
				span {
					font-size: 24px;
				}

				&:hover {
					transform: translateY(-20px) scale(1.2);
				}
			}
		}
	}
}

.background-text {
	margin: 0;
	font-size: 200px;
	text-align: center;
	text-transform: uppercase;
	@include themify($themes) {
		color: themed("backgroundText");
	}
}

@media (max-width: 720px) {
	.background-text {
		font-size: 100px;
	}
}

@keyframes appear {
	from {
		transform: translate(0px, 500px) scale(0.5);
	}
	to {
		transform: translate(0px, 0px) scale(1);
	}
}
