@import "../../styles/themes";

.projects-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 200px;
	padding-bottom: 100px;

	@include themify($themes) {
		color: themed("textColor");
	}

	.projects {
		display: grid;
		margin: 0 50px;
		@include themify($themes) {
			border-color: themed("lineColor");
		}

		.project {
			display: flex;
			align-items: center;
			padding: 20px 0;

			@include themify($themes) {
				border-bottom: 1px solid themed("lineColor");
			}

			&:nth-child(odd) {
				grid-column: 1/6;
			}

			&:nth-child(even) {
				grid-column: 2/7;
			}

			img {
				width: 400px;
				z-index: 1;
				filter: saturate(90%);
				cursor: pointer;
				transition: all 0.2s ease-in-out;

				@include themify($themes) {
					border: 1px solid themed("lineColor");
				}

				&:hover {
					filter: saturate(150%);
				}
			}
			article {
				display: flex;
				flex-direction: column;
				justify-content: start;
				transition: all 0.2s ease-in-out;
				padding-left: 20px;
				margin-left: 20px;

				@include themify($themes) {
					border-left: 1px solid themed("lineColor");
				}

				h3 {
					font-weight: 500;
					padding-bottom: 10px;
					font-size: 36px;
					white-space: nowrap;	
				}
				p {
					font-size: 22px;
					font-weight: 300;
				}
			}

			@media (max-width: 767px) {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;

				img {
					width: 100%;
				}
				article {
					padding: 0;
					margin: 0;
					margin-top: 20px;
					@include themify($themes) {
						border-left: none;
					}
				}
			}
		}
		@media (max-width: 1024px) {
			display: flex;
			flex-direction: column;
		}

		@media (max-width: 767px) {
			margin: 0 20px;
		}
	}
	@media (max-width: 767px) {
		padding-top: 100px;
	}
}

.background-text {
	margin: 0;
	font-size: 200px;
	text-align: center;
	text-transform: uppercase;
	@include themify($themes) {
		color: themed("backgroundText");
	}
}

@media (max-width: 900px) {
	.background-text {
		font-size: 100px;
	}
}

@media (max-width: 767px) {
	.background-text {
		font-size: 60px;
		margin-top: 30px;
	}
}
