.header {
	transition: all 0.2s ease-in-out;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2000;
	display: flex;
	width: 100%;
	height: 50px;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid;

	font-size: var(--fs-sm);
	background-color: var(--colors-header);
	border-color: var(--colors-line);
	color: var(--colors-text);

	.burger {
		display: none;
	}
	.burgerList {
		display: none;
	}

	.themeToggle {
		align-items: center;
		display: flex;
		gap: 5px;
	}

	@media (max-width: 900px) {
		.burger {
			display: inline;
		}
		.burgerList {
			display: block;
		}
		.navigation {
			display: none;
		}
		.themeToggle {
			display: none;
		}
	}
}
